.bigger {
	font-size: 500%;
	display:block;
}

#left {
	float:left;
	
}
#fixed {
	position:fixed;
}
#right {
	position:relative;
	
}

#center {
	float:center;
}

#footer {
	clear: both;
}

.comment {
	border: 2px solid black;
	display:block;
	width:200px;
	height:200px;
}

div {
	border: 2px solid black;
	display:inline-block;
	width:200px;


}